.heading{
    width: 80%;
    font-size: 22px;
    
}
.name_of_object,#result_object_name,#result_object_accuracy{
    color: rgb(64, 16, 238);
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
    
    
}